:root {
  --dark-color: #1a1a1a;
  --light-color: white;
}

/* default styling */
h1 {
  font-size: 26px;
  line-height: 32px;
  /* color: white; */
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 18px;
  /* color: white; */
}

a {
  font-size: 14px;
  line-height: 18px;
  /* color: white; */
  cursor: pointer;
}
/* default styling end  */

.button-cta {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid white;
  width: fit-content;
  padding: 15px 15px;
}
